/** @format */

@mixin display-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex($flex-value) {
	-webkit-box-flex: $flex-value;
	-ms-flex: $flex-value;
	flex: $flex-value;
}

@mixin flex-wrap($flex-wrap) {
	-ms-flex-wrap: $flex-wrap;
	flex-wrap: $flex-wrap;
}

@mixin flex-direction($flex-direction) {
	-webkit-box-orient: $flex-direction;
	-webkit-box-direction: $flex-direction;
	-ms-flex-direction: $flex-direction;
	flex-direction: $flex-direction;
}

@mixin justify-content($justify-content) {
	-webkit-box-pack: $justify-content;
	-ms-flex-pack: $justify-content;
	justify-content: $justify-content;
}

@mixin align-items($align-value) {
	-webkit-box-align: $align-value;
	-ms-flex-align: $align-value;
	align-items: $align-value;
}

/******************************************

                TRANSFORM - TRANSLATE

******************************************/

@mixin transform-rotate($transform-value) {
	-webkit-transform: rotate($transform-value);
	-ms-transform: rotate($transform-value);
	transform: rotate($transform-value);
	-moz-transform: rotate($transform-value);
	-o-transform: rotate($transform-value);
}

@mixin transition-all($transition-time) {
	-webkit-transition: all $transition-time;
	-o-transition: all $transition-time;
	transition: all $transition-time;
	-moz-transition: all $transition-time;
	-ms-transition: all $transition-time;
}

/******************************************

                BOX SHADOW

******************************************/

@mixin box-shadow($box-shadow) {
	-webkit-box-shadow: $box-shadow;
	-moz-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}

@mixin text-shadow($text-shadow) {
}

/*****************************************

				COLUMN 

*****************************************/

@mixin column($column-value) {
	-moz-columns: $column-value;
	columns: $column-value;
	-webkit-columns: $column-value;
}

/*****************************************

				BORDER 

*****************************************/

@mixin border($border-value) {
	border: $border-value;
	-webkit-border: $border-value;
	-moz-border: $border-value;
	-ms-border: $border-value;
	-o-border: $border-value;
}

/*****************************************

				BORDER RADIUS

*****************************************/

@mixin border-radius($border-radius-value) {
	border-radius: $border-radius-value;
	-webkit-border-radius: $border-radius-value;
	-moz-border-radius: $border-radius-value;
	-ms-border-radius: $border-radius-value;
	-o-border-radius: $border-radius-value;
}
